html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  font-size: 62.5%;
}
html,
body {
  margin: 0;
  padding: 0;
}
.width-100 {
  width: 100%;
}
header {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #43D9B8;
  margin-bottom: 20px;
}
header .logo {
  top: 20px;
  position: fixed;
  width: 120px;
  padding: 0 10px;
  text-decoration-line: none;
  text-decoration-color: none;
  text-align: center;
}
header .logo h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  color: black;
  font-weight: bold;
}
@media (max-width: 800px) {
  header .logo {
    top: 0;
    width: 120px;
    justify-content: center;
    text-align: center;
    position: fixed;
    background-color: #43D9B8;
    left: 41%;
  }
}
@media (max-width: 550px) {
  header .logo {
    left: 39%;
  }
}
@media (max-width: 400px) {
  header .logo {
    left: 34%;
  }
}
@media (max-width: 330px) {
  header .logo {
    left: 30%;
  }
}
header .menu-img {
  background-color: #43D9B8;
  display: none;
}
@media (max-width: 550px) {
  header .menu-img {
    display: inline-block;
    position: fixed;
    right: 5px;
    cursor: pointer;
  }
}
header nav {
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: none;
  flex-direction: row;
}
header nav a {
  text-decoration-style: none;
  text-decoration-line: none;
  text-decoration-color: none;
  padding: 30px;
  background-color: #43D9B8;
  color: #000000;
}
header nav a:hover {
  background-color: white;
  color: darkcyan;
  text-decoration-style: solid;
  text-decoration-line: underline;
  text-underline-position: under;
  text-decoration-color: purple;
}
@media (max-width: 550px) {
  header nav a {
    padding: 10px;
    right: 0px;
    top: 40px;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 800px) {
  header nav {
    width: 100%;
    justify-content: space-between;
    margin-top: 40px;
  }
}
@media (max-width: 550px) {
  header nav {
    display: none;
    justify-content: center;
  }
}
@media (max-width: 800px) {
  header {
    flex-direction: column;
  }
}
@media (max-width: 550px) {
  header #link1 {
    position: fixed;
    padding: 10px;
    right: -550px;
    top: 36px;
  }
}
@media (max-width: 550px) {
  header #link2 {
    position: fixed;
    padding: 10px;
    right: -550px;
    top: 72px;
  }
}
@media (max-width: 550px) {
  header #link3 {
    position: fixed;
    padding: 10px;
    right: -550px;
    top: 108px;
  }
}
@media (max-width: 550px) {
  header #link4 {
    position: fixed;
    padding: 10px;
    right: -550px;
    top: 144px;
  }
}
@media (max-width: 550px) {
  header #link5 {
    position: fixed;
    padding: 10px;
    right: -550px;
    top: 180px;
  }
}
@media (max-width: 800px) {
  header {
    height: 116px;
    width: 100%;
  }
}
@media (max-width: 550px) {
  header {
    height: 45px;
    width: 100%;
  }
}
.top-content {
  display: flex;
  justify-content: space-around;
  align-items: none;
  flex-direction: row;
  margin: 150px 20px 70px 20px;
}
.top-content .top-content-text {
  width: 60%;
}
.top-content .top-content-text h1 {
  display: block;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 15px;
  padding-left: 10px;
  border-radius: 10px;
  width: 290px;
}
@media (max-width: 550px) {
  .top-content .top-content-text h1 {
    margin-left: 20px;
    max-width: 95%;
  }
}
@media (max-width: 800px) {
  .top-content .top-content-text {
    width: 95%;
    margin: 10px auto;
  }
}
.top-content .tip-receive {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}
.top-content .tip-receive button {
  width: 160px;
  height: 40px;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  border: 2px solid darkcyan;
  border-radius: 10px;
  text-align: center;
  margin: 10px 0px;
  cursor: pointer;
}
.top-content .tip-receive .tip {
  margin-bottom: 30px;
  margin-right: 20px;
  width: 50%;
}
.top-content .tip-receive .tip h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.top-content .tip-receive .tip p {
  height: 50px;
  margin: 20px 0;
}
@media (max-width: 550px) {
  .top-content .tip-receive .tip p {
    height: auto;
  }
}
@media (max-width: 550px) {
  .top-content .tip-receive .tip {
    width: 100%;
  }
}
.top-content .tip-receive .receive {
  width: 50%;
}
.top-content .tip-receive .receive h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.top-content .tip-receive .receive p {
  height: 50px;
  margin: 20px 0;
}
@media (max-width: 550px) {
  .top-content .tip-receive .receive p {
    height: auto;
  }
}
@media (max-width: 550px) {
  .top-content .tip-receive .receive {
    width: 100%;
  }
}
.top-content .tip-receive .give-tip {
  background-color: #43D9B8;
}
.top-content .tip-receive .give-tip:hover {
  background-color: black;
  color: white;
}
.top-content .tip-receive .receive-tip {
  background-color: #000000;
  color: white;
}
.top-content .tip-receive .receive-tip:hover {
  background-color: #43D9B8;
  color: #000000;
}
@media (max-width: 550px) {
  .top-content .tip-receive {
    display: block;
    width: 90%;
    margin: auto;
  }
}
.top-content .top-content-img {
  max-width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.top-content .top-content-img img {
  width: 100%;
  border-radius: 10px;
}
@media (max-width: 550px) {
  .top-content .top-content-img img {
    display: none;
  }
}
@media (max-width: 800px) {
  .top-content .top-content-img {
    max-width: 100%;
    width: 90%;
    margin-left: 25px;
  }
}
@media (max-width: 800px) {
  .top-content {
    margin-top: 150px;
    display: block;
  }
}
@media (max-width: 550px) {
  .top-content {
    margin-top: 80px;
  }
}
.mid-content {
  width: 100%;
  margin: 40px o;
}
.mid-content h2 {
  font-weight: bold;
  border-radius: 10px;
}
.mid-content .mid-content-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #43D9B8;
  padding: 20px 0;
  margin-bottom: 60px;
}
.mid-content .mid-content-icons .icon {
  text-align: center;
}
@media (max-width: 550px) {
  .mid-content .mid-content-icons .icon {
    margin: 40px auto;
    width: 180px;
    text-align: center;
    margin-bottom: 40px;
  }
}
.mid-content .mid-content-icons img {
  height: 120px;
  margin-bottom: 10px;
}
@media (max-width: 550px) {
  .mid-content .mid-content-icons {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    border-radius: 10px;
  }
}
.carousel {
  margin: 0 auto;
}
.carousel img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 90%;
  margin: 20px auto;
  text-align: center;
}
.carousel .send,
.carousel .peers,
.carousel .instant {
  margin-bottom: 60px;
  padding: 0 30px;
}
.carousel .send h2,
.carousel .peers h2,
.carousel .instant h2 {
  margin: auto;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.carousel .send p,
.carousel .peers p,
.carousel .instant p {
  max-width: 400px;
  margin: 10px auto;
  height: 50px;
}
@media (max-width: 550px) {
  .carousel .send p,
  .carousel .peers p,
  .carousel .instant p {
    height: 50px;
  }
}
.carousel .send img,
.carousel .peers img,
.carousel .instant img {
  border-radius: 10px;
  padding: 5px;
  width: 600px;
  height: 500px;
  max-width: 90%;
}
@media (max-width: 800px) {
  .carousel .send img,
  .carousel .peers img,
  .carousel .instant img {
    height: 500px;
  }
}
@media (max-width: 600px) {
  .carousel .send img,
  .carousel .peers img,
  .carousel .instant img {
    width: 400px;
    height: 300px;
  }
}
.carousel .peers {
  display: none;
}
.carousel .peers h2 {
  max-width: 220px;
}
.carousel .instant {
  display: none;
}
.carousel .instant h2 {
  max-width: 330px;
}
.carousel .send h2 {
  max-width: 260px;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 60px;
}
.buttons .left-button,
.buttons .right-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: black;
  background-color: #43D9B8;
  border: 2px solid #43D9B8;
  font-size: 40px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.buttons .left-button:hover,
.buttons .right-button:hover {
  color: #43D9B8;
  background-color: white;
  border: 2px solid #43D9B8;
}
.footer {
  bottom: 0;
  height: 200px;
  margin: 0;
  background-color: #43D9B8;
}
.footer footer .top-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.footer footer .top-footer nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  margin-left: 0px;
}
.footer footer .top-footer nav a {
  text-decoration-style: none;
  text-decoration-line: none;
  text-decoration-color: none;
  color: #000000;
  padding: 20px 20px;
}
.footer footer .top-footer nav a:hover {
  background-color: white;
  color: darkcyan;
  text-decoration-style: solid;
  text-decoration-line: underline;
  text-underline-position: under;
  text-decoration-color: purple;
}
@media (max-width: 750px) {
  .footer footer .top-footer nav a {
    display: block;
    text-align: center;
  }
}
@media (max-width: 750px) {
  .footer footer .top-footer nav {
    display: block;
  }
}
@media (max-width: 750px) {
  .footer footer .top-footer {
    display: block;
  }
}
.footer footer p {
  text-align: center;
  padding: 10px;
}
.footer footer .apple {
  margin: 10px 20px;
}
@media (max-width: 750px) {
  .footer footer .apple {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px auto;
  }
}
.footer footer .font-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 50px;
  cursor: pointer;
}
.footer footer .font-icons i {
  margin: 0 10px;
}
@media (max-width: 750px) {
  .footer {
    height: 470px;
  }
}
.test h2 {
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
.test .person {
  border: 2px solid #43D9B8;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 90%;
  margin: 20px auto;
}
.test .person .person-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.test .person .person-img p {
  margin-right: 20px;
  line-height: 2;
  padding-top: 20px;
}
.test .person img {
  border-radius: 50%;
  margin: 20px 20px;
}
.test .person p {
  line-height: 2;
  font-size: 18px;
}
@media (max-width: 686px) {
  .test .person p {
    font-size: 16px;
  }
}
.test .person .person-text {
  max-width: 400px;
  margin-left: 20px;
}
.test .person:last-child {
  margin-bottom: 60px;
}
.about {
  margin-top: 170px;
}
.about h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  border-radius: 10px;
  max-width: 550px;
  margin: auto;
}
@media (max-width: 400px) {
  .about h1 {
    font-size: 40px;
  }
}
@media (max-width: 300px) {
  .about h1 {
    font-size: 30px;
  }
}
.about h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  max-width: 320px;
  margin: 0px auto;
}
@media (max-width: 400px) {
  .about h2 {
    font-size: 30px;
  }
}
.about .mission {
  margin-bottom: 50px;
  border-bottom: 3px dashed #43D9B8;
}
@media (max-width: 550px) {
  .about .mission h1 {
    max-width: 80%;
    margin: 20px auto;
  }
}
.about .mission p {
  max-width: 540px;
  margin: 40px auto;
  text-align: justify;
  line-height: 1.5;
  font-size: 1.2rem;
}
@media (max-width: 550px) {
  .about .mission p {
    max-width: 80%;
    margin: 20px auto;
  }
}
.about .benefits h2 {
  max-width: 230px;
  margin: auto;
}
.about .benefits .list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: baseline;
  margin: 40px 20px;
  max-width: 700px;
  margin: 40px auto;
}
.about .benefits .list img {
  margin: 0 60px;
}
@media (max-width: 550px) {
  .about .benefits .list img {
    margin: 0 10px;
  }
}
.about .benefits .list p {
  line-height: 1.5;
  font-size: 1.2rem;
  max-width: 400px;
  margin-right: 30px;
}
.about .test {
  border-top: 3px dashed #43D9B8;
}
.about .test h2 {
  padding: 0;
  margin: 60px auto;
}
@media (max-width: 550px) {
  .about .test h4 {
    width: 200px;
    text-align: center;
  }
}
.about .test p {
  margin: 0 auto;
}
@media (max-width: 550px) {
  .about .test p {
    text-align: center;
  }
}
.about .test .person {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.about .test .person .person-img {
  display: block;
}
.about .test .person .person-img h4 {
  padding: 0;
  text-align: center;
}
.about .test .person .person-img p {
  margin: 0;
  padding: 0 0 20px 0;
  text-align: center;
}
@media (max-width: 800px) {
  .about .test .person .person-img {
    width: 200px;
    text-align: center;
  }
}
.about .test .person .person-text {
  margin: 0 auto;
}
@media (max-width: 800px) {
  .about .test .person .person-text p {
    padding: 20px;
  }
}
@media (max-width: 686px) {
  .about .test .person .person-text p {
    border-top: 2px dashed #43D9B8;
  }
}
@media (max-width: 550px) {
  .about {
    margin-top: 80px;
  }
}
.team {
  margin-top: 130px;
}
.team h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  border-radius: 10px;
  width: 290px;
  margin: auto;
}
@media (max-width: 800px) {
  .team h1 {
    margin-top: 170px;
  }
}
@media (max-width: 550px) {
  .team h1 {
    margin-top: 20px;
  }
}
.team h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  border-radius: 10px;
  width: 250px;
  margin: auto;
}
.team h4 {
  text-align: center;
}
.team p {
  text-align: center;
  text-decoration-line: underline;
}
.team img {
  border-radius: 10px;
  margin-bottom: 20px;
}
.team .logo h1 {
  width: 100px;
}
@media (max-width: 800px) {
  .team .logo h1 {
    margin-top: 0px;
  }
}
.team .c-suite {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 80px auto;
}
.team .employees .workers-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 40px auto;
}
.team .employees .workers-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 40px auto;
}
@media (max-width: 550px) {
  .team {
    margin-top: 90px;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
body {
  max-width: 10000px;
  width: 100%;
  color: #000000;
  margin: 0 auto;
}
p {
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 10px;
}
.toggleOn {
  display: block;
}
