.footer {
  bottom: 0;
  height: 186px;
  margin: 0;
  background-color: @bg-color;
  footer {
    nav {
      width: 100%;
      .flex(space-evenly, center);
      margin-left: 0px;

      a {
        text-decoration-style: none;
        text-decoration-line: none;
        text-decoration-color: none;
        color: @text-color;
        padding: 20px 20px;;

        &:hover {
          background-color: white;
          color: darkcyan;
        }

        @media (max-width: 550px) {
          display: block;
          text-align: center;
        }
      }

      @media (max-width: 550px) {
        display: block;
      }
    }

    p {
      text-align: center;
      padding: 10px;
    }

    .apple {
      margin: 0 20px;

      @media (max-width: 550px) {
        .flex(center, center);
        margin: 0 auto;
      }
    }
  }

  @media (max-width: 800px) {
    height: 190px;
  }

  @media (max-width: 550px) {
    height: 410px;
  }
}