.footer {
  margin: 0;
  background-color: @bg-color;
  footer {
    nav {
      width: 90%;
      .flex(space-evenly, center);
      margin: 20px;

      a {
        text-decoration-style: none;
        text-decoration-line: none;
        text-decoration-color: none;
      }
    }
    p {
      text-align: center;
      
    }
  }
}