.footer {
  bottom: 0;
  height: 186px;
  margin: 0;
  background-color: @bg-color;
  footer {

    .top-footer {
      .flex(space-evenly, center);

      nav {
        width: 100%;
        .flex(flex-end, center);
        margin-left: 0px;

        a {
          text-decoration-style: none;
          text-decoration-line: none;
          text-decoration-color: none;
          color: @text-color;
          padding: 20px 20px;;

          &:hover {
            background-color: white;
            color: darkcyan;
          }

          @media (max-width: 750px) {
            display: block;
            text-align: center;
          }
        }

        @media (max-width: 750px) {
          display: block;
        }
      }

      @media (max-width: 750px) {
        display: block;
      }
    }

    p {
      text-align: center;
      padding: 10px;
    }

    .apple {
      margin: 10px 20px;

      @media (max-width: 750px) {
        .flex(center, center);
        margin: 10px auto;
      }
    }

    .font-icons {
      .flex(center, center);
      font-size: 50px;
      cursor: pointer;
      i {
        margin: 0 10px;
      }
    }
  }

  @media (max-width: 800px) {
    height: 190px;
  }

  @media (max-width: 750px) {
    height: 470px;
  }
}