.mid-content {
  width: 100%;
  margin: 40px o;

  h2 {
    background-color: @bg-color;
    border-radius: 10px;
  }

  .mid-content-icons {
    .flex(space-evenly);
    background-color: @bg-color;
    padding: 20px 0;
    margin-bottom: 60px;
    border-radius: 10px;

    img {
      height: 120px;
      margin-bottom: 10px;
    }
 
    @media (width: 550px) {
      display: block;
    }
  }
  
  img {
    border-radius: 10px;
    border: 3px solid black;
    

    &:hover {
      background-color: white;
    }
  }

  .imgList {
    
    .send, .peers, .instant {
      .flex(space-around);
      border-bottom: 3px dashed @bg-color;
      padding-bottom: 40px;
      margin-bottom: 50px;

      h2 {
        font-size: 20px;
      }
      
      .send-img, .peers-img, .instant-img {
        max-width: 45%;

        @media (max-width: 550px) {
          max-width: 100%;
          width: 100%;
        }
      }

      @media (max-width: 550px) {
        display: block;
        width: 100%;
      }

      .send-text, .peers-text, .instant-text {
        width: 50%;
        padding: 0 30px;

        @media (max-width: 550px) {
          width: 100%;
        }
      }
    }

    .peers {

      @media (max-width: 550px) {
        .flex(center, center, column-reverse);
      }

      h2 {
        max-width: 220px;
        text-align: center;
      }

      .peers-text {
        order: 0;
      }
    }

    .instant {
      h2 {
        max-width: 330px;
        text-align: center;
      }
    }

    .send {
      h2 {
        max-width: 260px;
        text-align: center;
      }
    }

    img {
      width: 100%;

      @media (max-width: 550px) {
        width: 90%;
        margin: 20px;
      }
    }
  }

  @media (max-width: 550px) {
    margin-top: 0;
  }
}