// colors
@header-color: #000000;
@text-color: #000000;
@bg-color: #43D9B8;
@bg2-color: #43D9B8;

// fonts
@header-font: 'Raleway', sans-serif;
@text-font: 'Source Sans Pro', sans-serif;

// Escapes
@tablet: ~"(max-width: 800px)";
@mobile: ~"(max-width: 500px)";